<crm-calendar [lang]="'es'" [citas]="c" (agrega)="nuevaCita($event)" (vC)="verCita($event)" (vM)="verCitasDia($event)"></crm-calendar>


<button type="button" name="button" (click)="modal()"></button>

<div id="boxmodalDefault" class="boxmodal ">
  <div class="boxmodal-content" id="box-c">
    <div class="boxmodal-header header-default">
      <span class="boxmodal-header-title">Agendar nueva cita {{boxfecha}}</span>
      <a (click)="cierraModal()" class="header-btn-close">&#215;</a>
    </div>
    <div class="bodybox">
      <div class="box-datos">
        <input class="name" type="text" placeholder="Identidad" name="id" #id />
        <input class="name" type="text" placeholder="Nombre" name="nombre" #nombre />
        <textarea name="name" rows="2" placeholder="Ingrese el motico" name="motivo" #motivo></textarea>
        <textarea name="name" rows="2" placeholder="Ingrese un recordatorio" name="recordatorio" #recordatorio></textarea>

      </div>
      <div class="box-hora">
        <span class="txt-hora">Seleccione la hora para la cita</span>
        <ul class="calender-hora">
          <li class="time " (click)="hora='8:00'">8:00 </li>
          <li class="time " (click)="hora='9:00'">9:00 </li>
          <li class="time " (click)="hora='10:00'">10:00 </li>
          <li class="time " (click)="hora='11:00'">11:00 </li>
          <li class="time " (click)="hora='11:00'">11:00 </li>
          <li class="time " (click)="hora='11:30'">11:30 </li>
        </ul>
      </div>
      <div class="botont">
        <button type="button" name="button" class="btn-termina" (click)="agendar(id.value, nombre.value)">AGENDAR</button>

      </div>
    </div>
  </div>
</div>

<!-- <div id="boxmodalDark" class="boxmodal">
  <div class="boxmodal-content">
    <div class="boxmodal-header header-dark">
      <span class="boxmodal-header-title">Dark!</span>
      <a href="#/close" class="header-btn-close">&#215;</a>
    </div>
  </div>
</div> -->