.boxmodal {
  align-items: center;
  background-color: rgba(52, 73, 94, .6);
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  position: fixed;
  opacity: 0;
  overflow: hidden;
  top: 0;
  transform: translateY(-100%);
  transition: all .5s;
  width: 100%;
}

.bxopen {
  opacity: 1;
  transform: translateY(0);
}

.boxmo {
  height: 55% !important;
  margin-top: none !important;
  opacity: 1 !important;
}

.boxmodal-content {
  background-color: #fff;
  box-shadow: 0px 0px 5px #888;
  display: block;
  height: 0px;
  margin: 10px;
  opacity: 0;
  position: relative;
  transition: all .6s;
  width: 50%;
}

.content-wild {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%)
}

.content-wild .header-btn-close {
  color: #444
}

.content-love {
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%)
}

.content-love .boxmodal-header {
  color: #fff
}

.boxmodal-header {
  align-items: center;
  color: #444;
  display: flex;
  height: 12%;
  justify-content: space-between;
  padding: 0px 25px;
}

.header-btn-close {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
}

.header-btn-close:hover {
  cursor: pointer !important;
}

.boxmodal-header-title {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

.header-success {
  background-color: #2ecc71;
  color: #fff
}

.header-warning {
  background-color: #f1c40f;
  color: #fff
}

.header-danger {
  background-color: #e74c3c;
  color: #fff
}

.header-default {
  background-color: #3498db;
  color: #fff
}

.header-dark {
  background-color: #2c3e50;
  color: #fff
}

.boxmodal-body {
  height: 75%;
  width: 100%;
}

/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* ////////////////////////////////// */
.bodybox {
  padding: 2% !important;
}

textarea {
  display: block;
  width: 315px;
  padding: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #42424242;
  margin-bottom: 12px;
  color: #7f8c8d;
  font-weight: 600;
  font-size: 16px;
  resize: none;
}

input {
  display: block;
  width: 315px;
  padding: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #42424242;
  margin-bottom: 12px;
  color: #7f8c8d;
  font-weight: 600;
  font-size: 16px;
}

input:focus {
  border: none;
  background: #fafafa;
}

.box-datos {
  width: 48% !important;
  height: 90% !important;
  float: left;
  border-right: 1px solid #42424242 !important;
}

.txt-hora {
  text-align: center;
  width: 50% !important;
  font-size: 1.3rem;
  color: #424242;
  font-weight: bold;
  padding-left: 10% !important;
  margin-bottom: 5px !important;
}

.box-hora {
  width: 48% !important;
  height: 90% !important;
  float: left;
  /* background: blue; */
}

.botont {
  position: absolute;
  bottom: 0px !important;
  width: 95% !important;
  float: left;
  height: 10% !important;
}

.btn-termina {
  background: #3498db;
  color: #FFF;
  font-weight: bold;
  padding: 7px;
  float: right;
  border: 2px solid #2989c9 !important;
  border-radius: 5px !important;
}

/* //////////////////// */
.calender-hora {
  /* width: 400px; */
  list-style: none;
  margin: 5px auto;
}

.time {
  display: ;
  float: left !important;
  width: 20% !important;
  background: #E0E0E0;
  height: 10% !important;
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle !important;
  padding-top: 1% !important;
  border: 1px solid #42424242 !important;
  /* border-left: 1px solid #656565;
  border-right: 0.5px solid #656565;
  border-top: 0.5px solid #656565;
  border-bottom: 0.5px solid #656565;
  border-right: 0.5px solid #656565; */
  cursor: pointer;
  -webkit-transition: 200ms ease-in-out 50ms;
  -moz-transition: 200ms ease-in-out 50ms;
  transition: 200ms ease-in-out 50ms;
}

.dere {
  /* border-right: 1px solid #656565 !important; */
}

li:hover {
  background: #656565;
  color: #fff;
  border: 1px solid #656565;
  /* box-shadow: 0px 1px 9px rgba(50, 50, 50, 0.82); */
}

/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */