.boxfecha {
  width: 14.1% !important;
  float: left !important;
  text-align: center !important;
  color: #FFF !important;
  height: 100px;
  margin-left: 0.03%;
  margin-right: 0.03%;
  margin-bottom: 0.03%;
  margin-top: 0.03%;
  background: #42424242;
}

.dantes {
  background: #00000026 !important;
}

.dmes {
  background: #FFF !important;
}

.txtdia {
  font-size: 1.2rem !important;
  float: right;
  text-align: center;
  width: 6% !important;
  background: #0496ffad;
  color: #ffffff;
  height: 18% !important;
  padding: 2% 3% 3% !important;
  border-radius: 75% !important;
  font-weight: bold;
  margin-top: 1% !important;
  margin-right: 1% !important;
}

.boxdcita {
  background: blue;
}